n8n/workflows/ALTHIQ-Leads-Intake-v1.json
{
  "name": "ALTHIQ | Leads | Intake | v1",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "althiq-leads-intake",
      "parameters": {
        "path": "althiq/leads/intake",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "responseData": "allEntries",
          "rawBody": true
        }
      }
    },
    {
      "id": "ifSecret",
      "name": "IF Secret Header",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.headers['x-altiq-webhook-secret'] || $json.headers['X-Altiq-Webhook-Secret'] }}",
              "rightValue": "={{ $env.ALTHIQ_WEBHOOK_SECRET }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "setNormalize",
      "name": "Set Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [700, 250],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "name",
              "value": "={{ $json.body.name || '' }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.phone || '' }}"
            },
            {
              "name": "company",
              "value": "={{ $json.body.company || '' }}"
            },
            {
              "name": "city",
              "value": "={{ $json.body.city || '' }}"
            },
            {
              "name": "source",
              "value": "={{ $json.body.source }}"
            },
            {
              "name": "variant",
              "value": "={{ $json.body.variant }}"
            },
            {
              "name": "pagePath",
              "value": "={{ $json.body.context?.pagePath || '' }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respondOk",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 250],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true}"
      }
    },
    {
      "id": "respondForbidden",
      "name": "Respond Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 360],
      "parameters": {
        "respondWith": "json",
        "responseCode": 403,
        "responseBody": "={\"ok\":false,\"error\":\"forbidden\"}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Secret Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Secret Header": {
      "main": [
        [
          {
            "node": "Set Normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Normalize": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

