n8n/workflows/ALTHIQ-WhatsApp-CloudAPI-Send-v1.json
{
  "name": "ALTHIQ | WhatsApp | Cloud API Send | v1",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "althiq-whatsapp-send",
      "parameters": {
        "path": "althiq/whatsapp/send",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "http",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ `https://graph.facebook.com/v19.0/${$env.WA_PHONE_NUMBER_ID}/messages` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.body.to, type: 'text', text: { body: $json.body.text } }) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "__REPLACE__",
          "name": "WhatsApp Cloud API (Bearer)"
        }
      }
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [780, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

